.root{
    position: relative;
    left: 100px;

    @media(max-width:1005px){
      left: 10px;
      
    }

    @media(max-width:910px){
      flex-direction: column;
      margin-top: 20px;
    }
}

.input{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;

    @media(max-width:400px){
        width: 170px;
        margin-left: 190px;
        margin-top: 20px;
      }
      // @media(max-width:1005px){
      //   width: 170px;
        
      // }
   

    &:focus{
        border:1px solid rgba(0,0,0,0.3);
        font-size: 18px;
    }
}

.icon{
    width: 22px;
    height: 22px;
    opacity: 0.5;
    position: absolute;
    left: 14px;
    top: 12px;
}

.clearIcon{
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  
    &:hover {
      opacity: 0.6;
    }

    
  }
